{%  extends 'base.html' %}

{% block title %} shop {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block main %}
<font size="4" color=red face="Times New Roman">
    <br>
    <p>
        Оде́жда — изделие или совокупность изделий, надеваемых человеком и несущих утилитарные и эстетические функции.
        Предохраняет тело от негативного влияния окружающей среды. Может выполнять эстетические функции, использоваться
        для создания образа человека, демонстрации социального статуса. Одежду делают из ткани, вязаного полотна, кожи,
        меха и других материалов; она может дополняться украшениями и аксессуарами.
    </p>
</font>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}